{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <h1>Registration</h1>
    <form id="registrationForm" action="{% url 'register_form' %}" method="post" enctype="application/x-www-form-urlencoded">
        {% csrf_token %}
        <label for="id_username">Username:</label><br>
        <input type="text" name="username" id="id_username" maxlength="150" required><br>
        {% if form.username.errors %}
            <p class="error">{{ form.username.errors.as_text }}</p>
        {% endif %}
    
        <label for="id_email">Email:</label><br>
        <input type="email" name="email" id="id_email" required><br>
        {% if form.email.errors %}
            <p class="error">{{ form.email.errors.as_text }}</p>
        {% endif %}
    
        <label for="id_password1">Password:</label><br>
        <input type="password" name="password1" id="id_password1" required><br>
        {% if form.password1.errors %}
            <p class="error">{{ form.password1.errors.as_text }}</p>
        {% endif %}
    
        <label for="id_password2">Password confirmation:</label><br>
        <input type="password" name="password2" id="id_password2" required><br>
        {% if form.password2.errors %}
            <p class="error">{{ form.password2.errors.as_text }}</p>
        {% endif %}
    
        <input type="submit" value="Register">
    </form>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>